<br/>
<p align="center">
  <h3 align="center">Automation of account balances</h3>

  <p align="center">
    Automatic extraction of informations inside excel document 
    <br/>
    <br/>
  </p>
</p>



## Table Of Contents

* [About the Project](#about-the-project)
* [Built With](#built-with)
* [Getting Started](#getting-started)
  * [Prerequisites](#prerequisites)
* [Usage](#usage)
* [Authors](#authors)
* [Acknowledgements](#acknowledgements)

## About The Project

This project was carried out as part of an operation to automate bank order checks.

The bankruptcy control operations are very important elements in the bank, allowing it to be able to
control not only system anomalies, but also the situations of its customers.

The main challenge here has been the fact that the data used is a not very
well structured. So it was a question of setting up a system capable of extracting the necessary information.
, automatically perform the necessary calculations and make the results available in the form of Excel files.

So we have set up a Django rest API for the backend and a frontEnd part for the interfaces
with ReactJs.

This is just the backend repository, the frontEnd part is in another repository

## Built With

We used the following main languages and librairies

* [Python 3.7](https://www.python.org/)
* [numpy](https://numpy.org/)
* [pandas](https://pandas.pydata.org/)
* [Jupyter notebook](https://jupyter.org/)
* [Django](https://www.djangoproject.com/)
* [ReactJs](https://reactjs.org/)
* [Javascript](https://www.javascript.com/)

## Getting Started

To get a local copy up and running follow these simple example steps.

### Prerequisites

* Python
* pandas
* pip
* numpy
* Jupyter Notebook
* django-admin
* npm

## Usage

automation of account balances, Document extraction, File Upload, Excel file generation.



## Authors

* **Aristide Mathieu MISSITANE** - *Software Engineer & Data Scientist* - [Aristide Mathieu MISSITANE](https://github.com/AristideMima) - **
